# DATABASE_URL=mysql://root:root123@localhost:3306/db_ruang_cerita # jika lokal
DATABASE_URL=mysql://root:root123@<nama db container>:3306/db_ruang_cerita # jika db container

# AUTH_SECRET (Di-generate acak untuk keamanan session NextAuth)
AUTH_SECRET=acak
AUTH_TRUST_HOST=true

# OAuth Providers (Isi jika sudah ada)
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=